@charset "UTF-8";
/*コードの文字化けを防ぐ*/

/*共通部分*/
html{
    font-size: 100%;
    /*ブラウザーのデフォルトの文字サイズ（通常は16px）やユーザーが指定した文字サイズが正しく反映される*/
}
body{
    font-family:"Yu Gothic Medium","遊ゴシック Medium",YuGothic,"遊ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height: 1.7;
    /*行の高さを指定*/
    color: #432;
}
a{
    text-decoration: none;
    /*aタグの傍線の指定*/
}
img{
    max-width: 100%;
    /*画像が親要素より大きくなることを防ぐ*/
}
/*HEADER*/
.logo{
    width: 210px;
    margin-top: 14px;
    /*ロゴ画像のサイズ指定*/
}
.main-nav{
    display: flex;
    /*liタグを横並びにする*/
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none; 
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover{
    color:#0bd;
}
.page-header{
    /*ロゴを左に、ナビゲーションメニューを右に置く。*/
    display: flex;
    justify-content: space-between;
    /*両端の指定*/
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
    /*中央に配置する指定*/
    /*スマートフォン向けの余白指定*/
}
/*HOME--------*/
.home-content{
    text-align: center;
    /*中央の指定*/
    margin-top: 10%;
}
.home-content p{
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
/*見出し*/
.page-title{
    font-size: 5rem;
    font-family: 'Philosopher',serif;
    text-transform: uppercase;
    font-weight: normal;
}
/*ボタン*/
.button{
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    /*要素の境界の外側の角を丸める*/
    padding: 18px 32px;
}
.button:hover{
    /*カーソルをボタンに重ねた時の色を指定(擬似クラス)*/
    background: #0090aa;
}
/*大きな背景画像 /他のページでも使いまわしたいのでクラスとして設定している*/
.big-bg{
    background-size:  cover;
    /*画像の縦横の比率を保ったまま画面いっぱいに広げる*/
    background-position:  center top;
}
#home{
    background-image: url(../images/main-bg.jpg);
    background-color: #0bd;
    /*重ねる色の指定・追加*/
    background-blend-mode: hard-light;
    /*ぬれんどモード、ハイライトの指定・追加*/
    min-height: 100vh;
    /*画面の高さの指定*/
}
#home .page-title{
    text-transform: none;
}