@charset "UTF-8";
div p {
    color: red;
}
<!--このようにすることでdivに囲まれたpタグのみ色が変わる-->

html {
    font-size: 100%;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 20px;
}

<!--font-familyプロパティがフォントの種類-->
.test1 {
    font-family: serif;
  }
.test2 {
      font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  }
.test3{
      font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro", sans-serif;
  }

.pro1{
    font-family: "明朝体","Mincho", sans-serif;
} 

.pro2{
    font-family: "ヒラギノ明朝Pro","Hiragino Mincho Pro", sans-serif;
}
.pro3{
    font-family:"遊明朝体","YuMincho", sans-serif;
}
.pro4{
    font-family:"はんなり明朝","HannariMincho",sans-serif;
} 
.pro5{
    font-family:"ゴシック体"," Gothic",sans-serif;
} 
.pro6{
    font-family:"ヒラギノ角ゴPro","Hiragino Kaku Gothic Pro",sans-serif;
} 
.pro7{
    font-family:"遊ゴシック体","Yu Gothic",sans-serif;
} 
.pro8{
    font-family:"モトヤシーダ","M",sans-serif;
} 

.bold_font{
    font-weight: bold;
}

.line_height_1{
    line-height: 1;
}
.line_height_2{
    line-height: 1.7;
}
.line_height_3{
    line-height: 2.5;
}
.text1{
    text-align: left;
}
.text2{
    text-align: justify; 
}
