.moji{
    text-align: center;
}
.sample1{
    background-color: rgba(255, 190, 167);
}
.sample2{
    background-color: rgba(252, 201, 172);
}
.sample3{
    background-color: rgba(255, 224, 182);
}
.sample4{
    background-color: rgba(255, 250, 194);
}
.sample5{
    background-color: rgba(225, 238, 193);
}
.sample6{
    background-color: rgba(195, 220, 190);
}
.sample7{
    background-color: rgba(186, 212, 209);
}
.sample8{
    background-color: rgba(180, 193, 209);
}
.sample9{
    background-color: rgba(174, 181, 220);
}
.sample10{
    background-color: rgba(183, 174, 214);
}
.sample11{
    background-color: rgba(197, 178, 214);
}
.sample12{
    background-color: rgba(229, 183, 190);
}