.moji{
    text-align: center;
}
.sample1{
    background-color: rgba(255, 190, 167);
}
.sample2{
    background-color: rgba(252, 201, 172);
}
.sample3{
    background-color: rgba(255, 224, 182);
}
.sample4{
    background-color: rgba(255, 250, 194);
}
.sample5{
    background-color: rgba(225, 238, 193);
}
.sample6{
    background-color: rgba(195, 220, 190);
}
.sample7{
    background-color: rgba(186, 212, 209);
}
.sample8{
    background-color: rgba(180, 193, 209);
}
.sample9{
    background-color: rgba(174, 181, 220);
}
.sample10{
    background-color: rgba(183, 174, 214);
}
.sample11{
    background-color: rgba(197, 178, 214);
}
.sample12{
    background-color: rgba(229, 183, 190);
}

.sample13{
    background-color: rgba(246, 150, 121);
}
.sample14{
    background-color: rgba(249, 169, 128);
}
.sample15{
    background-color: rgba(254, 207, 141);
}
.sample16{
    background-color: rgba(255, 247, 153);
}
.sample17{
    background-color: rgba(208, 227, 155);
}
.sample18{
    background-color: rgba(159, 202, 153);
}
.sample19{
    background-color: rgba(148, 188, 183);
}
.sample20{
    background-color: rgba(138, 163, 185);
}
.sample21{
    background-color: rgba(132, 144, 200);
}
.sample22{
    background-color: rgba(146, 131, 190);
}
.sample23{
    background-color: rgba(168, 136, 190);
}
.sample24{
    background-color: rgba(213, 141, 157);
}

.sample25{
    background-color: rgba(243, 112, 83);
}
.sample26{
    background-color: rgba(246, 139, 88);
}
.sample27{
    background-color: rgba(253, 191, 100);
}
.sample28{
    background-color: rgba(255, 245, 108);
}
.sample29{
    background-color: rgba(192, 219, 117);
}
.sample30{
    background-color: rgba(122, 185, 119);
}
.sample31{
    background-color: rgba(110, 167, 161);
}
.sample32{
    background-color: rgba(98, 137, 164);
}
.sample33{
    background-color: rgba(92, 115, 183);
}
.sample34{
    background-color: rgba(115, 97, 171);
}
.sample35{
    background-color: rgba(143, 100, 171);
}
.sample36{
    background-color: rgba(199, 103, 129);
}

.sample37{
    background-color: rgba(200, 62, 54);
}
.sample38{
    background-color: rgba(208, 101, 59);
}
.sample39{
    background-color: rgba(227, 164, 78);
}
.sample40{
    background-color: rgba(248, 235, 101);
}
.sample41{
    background-color: rgba(176, 200, 101);
}
.sample42{
    background-color: rgba(95, 160, 94);
}
.sample43{
    background-color: rgba(81, 140, 132);
}
.sample44{
    background-color: rgba(62, 104, 125);
}
.sample45{
    background-color: rgba(48, 80, 137);
}
.sample46{
    background-color: rgba(74, 56, 124);
}
.sample47{
    background-color: rgba(106, 57, 125);
}
.sample48{
    background-color: rgba(159, 56, 91);
}

.sample49{
    background-color: rgba(139, 3, 4);
}
.sample50{
    background-color: rgba(140, 48, 3);
}
.sample51{
    background-color: rgba(144, 96, 0);
}
.sample52{
    background-color: rgba(150, 141, 0);
}
.sample53{
    background-color: rgba(92, 121, 27);
}
.sample54{
    background-color: rgba(14, 98, 39);
}
.sample55{
    background-color: rgba(11, 86, 79);
}
.sample56{
    background-color: rgba(2, 61, 83);
}
.sample57{
    background-color: rgba(2, 37, 97);
}
.sample58{
    background-color: rgba(38, 6, 87);
}
.sample59{
    background-color: rgba(65, 1, 85);
}
.sample60{
    background-color: rgba(110, 0, 51);
}

.sample61{
    background-color: rgba(237, 28, 36);
}
.sample62{
    background-color: rgba(241, 89, 34);
}
.sample63{
    background-color: rgba(250, 166, 26);
}
.sample64{
    background-color: rgba(255, 242, 0);
}
.sample65{
    background-color: rgba(166, 206, 57);
}
.sample66{
    background-color: rgba(40, 164, 74);
}
.sample67{
    background-color: rgba(31, 142, 131);
}
.sample68{
    background-color: rgba(25, 105, 137);
}
.sample69{
    background-color: rgba(12, 77, 162);
}
.sample70{
    background-color: rgba(71, 47, 145);
}
.sample71{
    background-color: rgba(112, 44, 145);
}
.sample72{
    background-color: rgba(182, 25, 93);
}
.sample73{
    background-color: rgba(176, 127, 114);
}
.sample74{
    background-color: rgba(188, 145, 127);
}
.sample75{
    background-color: rgba(212, 186, 159);
}
.sample76{
    background-color: rgba(241, 234, 195);
}
.sample77{
    background-color: rgba(206, 209, 179);
}
.sample78{
    background-color: rgba(167, 177, 155);
}
.sample79{
    background-color: rgba(155, 165, 160);
}
.sample80{
    background-color: rgba(135, 136, 142);
}
.sample81{
    background-color: rgba(124, 120, 137);
}
.sample82{
    background-color: rgba(123, 107, 127);
}
.sample83{
    background-color: rgba(136, 114, 132);
}
.sample84{
    background-color: rgba(157, 119, 124);
}
.sample85{
    background-color: rgba(204, 121, 101);
}
.sample86{
    background-color: rgba(213, 142, 111);
}
.sample87{
    background-color: rgba(230, 188, 135);
}
.sample88{
    background-color: rgba(247, 239, 162);
}
.sample89{
    background-color: rgba(200, 213, 153);
}
.sample90{
    background-color: rgba(149, 181, 141);
}
.sample91{
    background-color: rgba(138, 167, 161);
}
.sample92{
    background-color: rgba(120, 136, 151);
}
.sample93{
    background-color: rgba(112, 118, 157);
}
.sample94{
    background-color: rgba(121, 103, 146);
}
.sample95{
    background-color: rgba(141, 108, 149);
}
.sample96{
    background-color: rgba(176, 113, 126);
}