.sample1{
    background-color: rgba(255, 108, 148);
}
.sample2{
    background-color: rgba(246, 240, 240);
}
.sample3{
    background-color: rgba(58, 178, 173);
}
.sample4{
    background-color: rgba(67, 44, 2);
}
.sample5{
    background-color: rgba(234, 246, 253);
}
.sample6{
    background-color: rgba(226, 235, 163);
}
.sample7{
    background-color: rgba(247, 198, 189);
}
.sample8{
    background-color: rgba(197, 163, 203);
}
.sample9{
    background-color: rgba(222, 77, 77);
}
.sample10{
    background-color: rgba(246, 118, 144);
}
.sample11{
    background-color: rgba(255, 255, 255);
}
.sample12{
    background-color: rgba(0, 170, 255);
}
.sample13{
    background-color: rgba(249, 233, 0);
}
.sample14{
    background-color: rgba(245, 165, 80);
}
.sample15{
    background-color: rgba(146, 203, 151);
}
.sample16{
    background-color: rgba(59,130,196);
}
.sample17{
    background-color: rgba(204, 0, 0);
}
.sample18{
    background-color: rgba(102,0,80);
}
.sample19{
    background-color: rgba(51, 0, 0);
}
.sample20{
    background-color: rgba(0, 0, 0);
}
.sample21{
    background-color: rgba(219, 237, 240);
}
.sample22{
    background-color: rgba(128, 164, 145);
}
.sample23{
    background-color: rgba(70, 153, 202);
}
.sample24{
    background-color: rgba(23, 96, 160);
}
.sample25{
    background-color: rgba(215, 206, 187);
}
.sample26{
    background-color: rgba(175, 160, 127);
}
.sample27{
    background-color: rgba(128, 121, 108);
}
.sample28{
    background-color: rgba(91, 92, 118);
}
.sample29{
    background-color: rgba(221, 221, 221);
}
.sample30{
    background-color: rgba(179, 208, 215);
}
.sample31{
    background-color: rgba(130, 170, 170);
}
.sample32{
    background-color: rgba(136, 136, 136);
}
.sample33{
    background-color: rgba(210, 210, 0);
}
.sample34{
    background-color: rgba(0, 160, 150);
}
.sample35{
    background-color: rgba(0, 165, 221);
}
.sample36{
    background-color: rgba(181, 0, 153);
}
.sample37{
    background-color: rgba(255, 0, 111);
}
.sample38{
    background-color: rgba(255, 255, 255);
}
.sample39{
    background-color: rgba(0, 0,0);
}
.sample40{
    background-color: rgba(255, 191, 31);
}
.sample41{
    background-color: rgba(255, 153, 51);
}
.sample42{
    background-color: rgba(255, 229, 86);
}
.sample43{
    background-color: rgba(173, 204, 51);
}
.sample44{
    background-color: rgba(51, 153, 0);
}
.sample45{
    background-color: rgba(73, 145, 73);
}
.sample46{
    background-color: rgba(255, 248, 207);
}
.sample47{
    background-color: rgba(213, 47, 37);
}
.sample48{
    background-color: rgba(105, 28, 13);
}
.sample49{
    background-color: rgba(255,255,255);
}
.sample50{
    background-color: rgba(230, 240, 240);
}
.sample51{
    background-color: rgba(151, 205, 243);
}
.sample52{
    background-color: rgba(127, 217, 210);
}
.sample53{
    background-color: rgba(153, 204, 101);
}
.sample54{
    background-color: rgba(255, 255, 255);
}
.sample55{
    background-color: rgba(122, 203, 225);
}
.sample56{
    background-color: rgba(0, 155, 198);
}
.sample57{
    background-color: rgba(193, 153, 77);
}
.sample58{
    background-color: rgba(241, 226, 190);
}
.sample59{
    background-color: rgba(148, 198, 116);
}
.sample60{
    background-color: rgba(71, 118, 60);
}
.sample61{
    background-color: rgba(223, 203, 165);
}
.sample62{
    background-color: rgba(185, 208, 177);
}
.sample63{
    background-color: rgba(225, 192, 182);
}
.sample64{
    background-color: rgba(211, 193, 175);
}
.sample65{
    background-color: rgba(237, 220, 188);
}
.sample66{
    background-color: rgba(238, 209, 63);
}
.sample67{
    background-color: rgba(176, 148, 30);
}
.sample68{
    background-color: rgba(0, 0, 0);
}
.sample69{
    background-color: rgba(189, 198, 183);
}
.sample70{
    background-color: rgba(0, 0, 177);
}
.sample71{
    background-color: rgba(0, 0, 93);
}
.sample72{
    background-color: rgba(0, 0, 0);
}
.sample73{
    background-color: rgba(211, 196, 150);
}
.sample74{
    background-color: rgba(115, 136, 81);
}
.sample75{
    background-color: rgba(74, 85, 30);
}
.sample76{
    background-color: rgba(144, 70, 68);
}
.sample77{
    background-color: rgba(135, 25, 0);
}
.sample78{
    background-color: rgba(222, 52, 0);
}
.sample79{
    background-color: rgba(255, 255, 255);
}
.sample80{
    background-color: rgba(51, 51, 51);
}
.sample81{
    background-color: rgba(255, 240, 0);
}
.sample82{
    background-color: rgba(240, 130, 30);
}
.sample83{
    background-color: rgba(0, 160, 220);
}
.sample84{
    background-color: rgba(25, 50, 120);
}
.sample85{
    background-color: rgba(255, 204, 0);
}
.sample86{
    background-color: rgba(255, 37, 153);
}
.sample87{
    background-color: rgba(153, 68, 204);
}
.sample88{
    background-color: rgba(0, 169, 255);
}
.sample89{
    background-color: rgba(246, 239, 219);
}
.sample90{
    background-color: rgba(214, 194, 153);
}
.sample91{
    background-color: rgba(171, 15, 80);
}
.sample92{
    background-color: rgba(64, 39, 23);
}
.sample93{
    background-color: rgba(230, 190, 170);
}
.sample94{
    background-color: rgba(220, 139, 167);
}
.sample95{
    background-color: rgba(220, 200, 220);
}

.sample96{
    background-color: rgba(110, 80, 100);
}