.bar{
  max-width: 600px;
  width: 100%;
  margin: 1em;
  color: black;
  padding: 0.25em;
  animation: bar-animation 1 2s;
}

.bar1{
  background: rgba(247,198,189);
  max-width: 70%;
}
.bar2{
  background:rgba(58,172,173);
  max-width: 25%;
}
.bar3{
  background: rgba(249,233,0);
  max-width: 5%;
}

@keyframes bar-animation{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
