@charset "UTF-8";
.container1{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    /*親要素の高さに合わせて広げて配置*/
    height: 300px;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /*親要素のk開始位置から配置。上揃え。*/
    height: 300px;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    /*親要素のk開始位置から配置。上揃え。*/
    height: 300px;
}
.item{
    background: #0bd;
    color: #fff;
    margin: 10px;
    padding: 10px;
}