@charset "UTF-8";
.container1{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    /*親要素の高さに合わせて広げて配置*/
    height: 300px;
}
.item{
    background: #0bd;
    color: #fff;
    margin: 10px;
    padding: 10px;
}