@charset "UTF-8";
.style2{
  border-width: thick;
  border-style: solid;
  /*width:太い線;でstyle:実線;*/
}
.style1{
 border-style: solid;
}
.style3{
margin-top: 40px;
 border-width: 1px 4px 8px 12px;
 border-style: solid;
}
.box1{
    padding: 10px;
}